
    <div class=" w-11/12 m-auto flex flex-col items-center text-center bg-blue-400 rounded-lg py-4 text-white  gap-2">
        <mat-icon aria-hidden="false" aria-label="Example Award icon" class="material-icons-outlined my-4" >emoji_events</mat-icon>
        <p class=" font-medium text-lg ">Congratulations, Ahmed</p>
        <p class=" text-xs">you have about 12 users in Your Application</p>
    </div>
    <div class="h-[40%] flex justify-center items-center w-11/12 border-dotted border-2 m-auto my-11">  
        <p class=" text-xl font-medium text-center w-4/5  ">
            Development of the website is still in progress, please check back later....
        </p>
    </div>


